<html>
  <head>
    <title>nasldoc</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div id="content">
      <table class="nopad">
        <tr class="TableHeadingColor">
          <td><a name="top"></a><h1>File Summary</h1></td>
        </tr>
        <% @file_list.sort.each do |file| %>
        <% link = url(file) %>
        <tr>
          <td><a href="<%= link %>" target="content"><%= link %></a></td>
        </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>
