<html>
	<head>
		<title>nasldoc</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>
	<body>
		<img src="nessus.jpg" />
		<ul>
			<li><a href="overview.html" target="content">Overview</a></li>
		</ul>
		<ul>
			<% @file_list.sort.each_with_index do |file, i| %>
				<% row = i.even? ? 'even' : 'odd' %>
				<% link = url(file) %>
				<li class="<%= row %>">
					<a href="<%= link %>" target="content"><%= link %></a>
				</li>
			<% end %>
		</ul>
	</body>
</html>
